# ===============================
# PyCharm
# ===============================
.idea/

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ===============================
# Virtual Environments
# ===============================
.venv/
venv/
env/
ENV/

# ===============================
# OS junk 
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Editor backups
# ===============================
*~
*.swp
*.swo
